
#mobile_wrapper .videoThumb_wrapper {

	width:100%;
	height:auto;
	min-height:100%;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	z-index:5000;
	display:none;
	opacity:0;
	transition:300ms;
	-webkit-transition:300ms;

	&.show {
		opacity:1;
	}

	.closeBtn {
		top:10px;
		right:10px;
		z-index:5000;
	}

	.videos {
		width:100%;
		height:auto;
		overflow:hidden;
		position:relative;
		top:0px;
		left:0px;
		margin:50px auto;
		display:block;
		z-index:1000;

		iframe {
			width:80%;
			height:45vw;
			position:relative;
			display:block;
			margin:25px auto;
		}
	}

}
