

#preloader_wrapper {
	width:100%;
	height:100%;
	position:absolute;
	background-color:transparent;
	top:0px;
	left:0px;
	display:none;
	overflow:hidden;
	z-index:9000;

	.bg {
		width:100%;
		height:100%;
		/*background-image:url("../images/preloader_bg.jpg");*/
		background-size:cover;
		background-repeat:none;
		background-position:center;
		transition:500ms;
		-webkit-transition:500ms;

		.dot_repeater {
			width:100%;
			height:100%;
			background-image:url("../images/dot_repeater.png");
			background-repeat:repeat;
			position:absolute;
			top:0px;
			left:0px;
		}
	}

	.bg.hide{
		opacity:0;
	}

	.loaderBar{
		width:0%;
		height:7px;
		position:absolute;
		top:50%;
		left:0px;
		background-color:#000000;
		transition:300ms;
		-webkit-transition:300ms;
	}

	.loaderBar.shrink {
		transform:scale(0, 1);
	}

	.percentage {
		width:100%;
		height:auto;
		text-align:center;
		position:absolute;
		font-family: 'Rubik', sans-serif; 
		font-size:30px;
		font-weight:bold;
		top:50%;
		left:0px;
		transform:translateY(23px);
	}
}