
#desktop_wrapper .home_wrapper {

	width:100%;
	height:100%;
	position:relative;
	top:0px;
	left:0px;
	z-index:1000;

	.logo_wrapper {
		position:relative;
		top:50%;
		left:0px;
		margin:0px auto;
		text-align:center;
		transform:translate(-17px, -87px);

		.logoLeft {
			width:189px;
			height:40px;
			background-image:url('../images/logo_left.png');
			background-repeat:no-repeat;
			background-position:190px 0px;
			transition:500ms;
			-webkit-transition:500ms;
			display:inline-block;
			position:relative;
			top:-68px;
		}

		.logoLeft.show{
			background-position:0px 0px;
		}

		.logoCenter {
			width:88px;
			height:180px;
			background-image:url('../images/logo_center.png');
			background-repeat:no-repeat;
			background-position:0px 0px;
			margin:0px;
			transition:500ms;
			-webkit-transition:500ms;
			display:inline-block;
			transform:scaleX(0);
		}

		.logoCenter.show{
			transform:scaleX(1);
		}

		.logoRight {
			width:156px;
			height:40px;
			background-image:url('../images/logo_right.png');
			background-repeat:no-repeat;
			background-position:-137px 0px;
			transition:500ms;
			-webkit-transition:500ms;
			display:inline-block;
			position:relative;
			top:-68px;
		}

		.logoRight.show{
			background-position:20px 0px;
		}
	}

	.content_wrapper {
		width:100%;
		height:100%;
		position:absolute;
		left:0px;
		top:0px;

		.category_wrapper {
			width:auto;
			height:auto;
			position:absolute;

			.thumb {
				border:4px solid #ffffff;
				border-radius:300px;
				position:absolute;
				top:0px;
				left:0px;
				background-color:#ffffff;
				overflow:hidden;
				background-size:cover;
				background-position:center;
				background-repeat:no-repeat;
				cursor:pointer;
				opacity:0;
				transition:500ms;
				-webkit-transition:500ms;
				transform:translateY(-20px);
				-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

				.label{
					width: 100%;
				    height: 27%;
				    text-align: center;
				    color: #ffffff;
				    background-color: rgba(0, 0, 0, 0.4);
				    position: absolute;
				    bottom: 0px;
				    left: 0px;
				    font-family: 'Rubik', sans-serif;
				    font-size: 11px;
				    font-weight: 300;
				    line-height: 25px;
				    letter-spacing: 8px;
				    text-indent:8px;
				    transition:500ms;
					-webkit-transition:500ms;
				}
			}

			.thumb.show{
				opacity:1;
				transform:translateY(0px);
			}

			.thumb:hover {
				border:4px solid #ffee00;
				transform:scale(1.1);

				.label {
					height:33%;
					font-size:15px;
					line-height:30px;
				}
			}

			&.cars {
				top:4%;
				left:5%;

				.thumb{
					width:420px;
					height:420px;
					background-image:url("../images/cars_thumb.jpg");
				}
			}

			&.commercial {
				top:10%;
				left:67%;

				.thumb{
					width:300px;
					height:300px;
					background-image:url("../images/commercial_thumb.jpg");
				}
			}

			&.fashion {
				top:67%;
				left:30%;

				.thumb{
					width:280px;
					height:280px;
					background-image:url("../images/fashion_thumb.jpg");
				}
			}

			&.reality {
				top:55%;
				left:68%;

				.thumb{
					width:240px;
					height:240px;
					background-image:url("../images/reality_thumb.jpg");
				}
			}

			@media (max-width:1350px){
				&.cars {
					top:4%;
					left:5%;

					.thumb{
						width:280px;
						height:280px;
						background-image:url("../images/cars_thumb.jpg");
					}
				}

				&.commercial {
					top:10%;
					left:67%;

					.thumb{
						width:220px;
						height:220px;
						background-image:url("../images/commercial_thumb.jpg");
					}
				}

				&.fashion {
					top:64%;
					left:22%;

					.thumb{
						width:210px;
						height:210px;
						background-image:url("../images/fashion_thumb.jpg");
					}
				}

				&.reality {
					top:55%;
					left:68%;

					.thumb{
						width:180px;
						height:180px;
						background-image:url("../images/reality_thumb.jpg");
					}
				}
			}
		}
	}

	.contactBtn {
		width:auto;
		height:auto;
		font-size:14px;
		font-family: 'Rubik', sans-serif;
		font-weight:500;
		letter-spacing:1px;
		display:block;
		position:absolute;
		background-color:#ffffff;
		top:10px;
		right:10px;
		z-index:4000;
		text-decoration:none;
		color:#000000;
		border:2px solid #000000;
		border-radius:7px;
		padding:5px 15px;
		transition:300ms;
		-webkit-transition:300ms;

		.email {
			width:auto;
			height:auto;
			font-size:12px;
			font-family: 'Rubik', sans-serif;
			font-weight:300;
			position:absolute;
			padding:5px 0px;
			top:0px;
			right:130px;
			opacity:0;
			transition:300ms;
			-webkit-transition:300ms;
			color:#3C3C32;
			white-space: nowrap;
			pointer-events:none;
		}

		.phone {
			width:auto;
			height:auto;
			font-size:12px;
			font-family: 'Rubik', sans-serif;
			font-weight:300;
			position:absolute;
			top:30px;
			right:0px;
			opacity:0;
			transition:300ms;
			-webkit-transition:300ms;
			color:#3C3C32;
			white-space: nowrap;
			pointer-events:none;
		}

	}

	.contactBtn:hover {
		background-color:#ffee00;
		color:#3C3C32;
		border:2px solid #3C3C32;
		transform:scale(1.05);

		.email {
			right:150px;
			opacity:1;
		}

		.phone {
			top:40px;
			opacity:1;
		}
	}

	.copyright {
		width:100%;
		text-align:right;
		position:absolute;
		bottom:0px;
		font-size:10px;
		font-family: 'Rubik', sans-serif;
		font-weight:300;
		color:#3C3C32;
		line-height:20px;
	}


}