

#desktop_wrapper {
	width:100%;
	height:100%;
	position:relative;
	top:0px;
	left:0px;
	display:none;
	overflow:hidden;
	z-index:1000;


	.bg {
		width:110%;
		height:110%;
		background-image:url("../images/bg11.jpg");
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
		z-index:0;
		position:absolute;
		transition:2500ms;
		-webkit-transition:2500ms;
		opacity:0;
		transform:rotateZ(5deg) translate(-4%, -2%);


			.dot_repeater {
			width:100%;
			height:100%;
			background-image:url("../images/dot_repeater.png");
			background-repeat:repeat;
			position:absolute;
			top:0px;
			left:0px;
		}
	}
	
	.bg.show{
		opacity:.6;
		transform:rotateZ(0deg) translate(-4%, -2%);
	}

	.overlay {
		width:100%;
		height:100%;
		background-color:#000000;
		position:absolute;
		top:0px;
		left:0px;
		z-index:3000;
		opacity:.92;
		transition:300ms;
		-webkit-transition:300ms;
		transform:scale(0, 1);
	}

	.overlay.show {
		transform:scale(1, 1);
	}
}
